/* Change background color of the page */
body {
    background-color: #2c7b26;
    margin: 20px;
}

/* Style the heading */
h1 {
    color: #161a15;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

/* Style the paragraph */
p {
    color: #b0b128;
    font-family: Georgia, "Times New Roman", serif;
    padding: 10px;
}
div {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}
