/* Change background color of the page */
body {
    background-color: #82f0c2;
    margin: 20px;
}

/* Style the heading */
h1 {
    color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

/* Style the paragraph */
p {
    color: #555;
    font-family: Georgia, "Times New Roman", serif;
    padding: 10px;
}
